{% extends 'mainPages/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Start Banner Hero -->
{% block content %}
<div id="work_single_banner" class="bg-light w-100">
    <div class="container-fluid text-light d-flex justify-content-center align-items-center border-0 rounded-0 p-0 py-5">
        <div class="banner-content col-lg-8 m-lg-auto text-center py-5 px-3">
            <h1 class="banner-heading h2 pb-5 typo-space-line-center">Digital Marketing</h1>
            <h3 class="h4 pb-2 light-300">Voluptatem accusantium doloremque</h3>
            <p class="banner-footer light-300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Integer ut ipsum eu libero venenatis euismod.
            </p>
        </div>
    </div>
</div>
<!-- End Banner Hero -->

<!-- Start Work Sigle -->
<section class="container py-5">

    <div class="row pt-5">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">{{estate.name}}</h2>
        </div>
    </div><!-- End Blog Cover -->

    <div class="row justify-content-center pb-4">
        <div class="col-lg-8">
            <div id="templatemo-slide-link-target" class="card mb-3">
                <img class="img-fluid border rounded" src="{{ estate.image.url }}" alt="Card image cap">
            </div>
            <div class="worksingle-slide-footer row">

                <!--Start Controls-->
                <div class="col-1 align-self-center">
                    <a href="#multi-item-example" role="button" data-bs-slide="prev">
                        <i class='bx bxs-chevron-left bx-sm text-dark'></i>
                    </a>
                </div>
                <!--End Controls-->

                <!--Start Carousel Wrapper-->
                <div id="multi-item-example" class="col-10 carousel slide" data-bs-ride="carousel">
                    <!--Start Slides-->
                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-06.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-06-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-05.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-05-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-04.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-04-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-03.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-03-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-01.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-01-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-01.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-01-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-03.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-03-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-02.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-02-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-01.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-01-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-06.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-06-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.Second slide-->

                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-01.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-01-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-03.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-03-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-02.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-02-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-01.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-01-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="{% static 'assets/img/work-slide-06.jpg' %}">
                                        <img class="img-fluid border rounded" src="{% static 'assets/img/work-slide-06-small.jpg' %}" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.Second slide-->

                    </div>
                    <!--End Slides-->
                </div>
                <!--End Carousel Wrapper-->

                <!--Start Controls-->
                <div class="col-1 align-self-center text-end">
                    <a href="#multi-item-example" role="button" data-bs-slide="next">
                        <i class='bx bxs-chevron-right bx-sm text-dark'></i>
                    </a>
                </div>
                <!--End Controls-->

            </div>
        </div>
    </div><!-- End Slider -->




    <div class="row">
        <div class="col-md-8 m-auto text-left justify-content-center">
            <p class="fs-5 py-4 ps-4 border border-5 border-top-0 border-end-0 border-bottom-0 border-start"
               style="max-width: 100%; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                <i>
                    {{ estate.description }}
                </i>
            </p>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-lg-8 pt-4 pb-4">
            <video class="w-100 rounded shadow" controls>
                <source src="{{ estate.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div><!-- End Video -->

    <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
        <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">{{ estate.name }}</h2>

        <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item"><strong>Price:</strong> {{ estate.price }}$</li>
            <li class="list-group-item"><strong>Area:</strong> {{ estate.area }} m²</li>
            <li class="list-group-item"><strong>Category:</strong> {{ estate.category.name }}</li>
            <li class="list-group-item"><strong>City:</strong> {{ estate.city }}</li>
            <li class="list-group-item"><strong>District:</strong> {{ estate.district }}</li>
            <li class="list-group-item"><strong>Geolocation:</strong> {{ estate.geo }}</li>
            <li class="list-group-item"><strong>Created at:</strong> {{ estate.created_at|date:"F d, Y" }}</li>
            <li class="list-group-item">
                <strong>Status:</strong>
                {% if estate.is_active %}
                <span class="text-success">Active</span>
                {% else %}
                <span class="text-danger">Inactive</span>
                {% endif %}
            </li>
        </ul>
    </div>



    <!-- End Work Sigle -->

    <!-- Start Comment -->
    <div class="row justify-content-center">
        <div class="worksingle-comment-heading col-8 m-auto pb-3">
            <h4 class="h5">Comments</h4>
        </div>
    </div>

    <div class="row pb-4">
        <div class="worksingle-comment-body col-md-8 m-auto">
            <div class="d-flex">
                <div>
                    <img class="rounded-circle" src="{% static 'assets/img/team-05.jpg' %}" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">John Doe</h5>
                            <p class="text-muted light-300">10 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex">
                <div>
                    <img class="rounded-circle" src="{% static 'assets/img/team-01.jpg' %}" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">Jane Doe</h5>
                            <p class="text-muted light-300">5 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex ml-4">
                <div>
                    <img class="rounded-circle" src="{% static 'assets/img/team-05.jpg' %}" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">John Doe</h5>
                            <p class="text-muted light-300">15 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex ml-5">
                <div>
                    <img class="rounded-circle" src="{% static 'assets/img/team-01.jpg' %}" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">Jane Doe</h5>
                            <p class="text-muted light-300">16 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="worksingle-comment-footer col-lg-8 m-auto">
            <h4 class="h5">Leave Comment</h4>
            <form class="col-md-12 m-auto" method="POST" action="#" role="form">

                <div class="form-group">
                    <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputmessage">Your Comment</label>
                    <textarea class="form-control form-control-lg light-300" id="inputmessage" name="inputmessage" placeholder="Your Comment" rows="5"></textarea>
                </div>

                <div class="row py-4">
                    <div class="col-lg-6">
                        <label class="pb-2 light-300" for="inputname">Name</label>
                        <input type="text" class="form-control form-control-lg light-300" id="inputname" name="inputname" placeholder="Name">
                    </div>
                    <div class="col-lg-6">
                        <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputemail">Email</label>
                        <input type="email" class="form-control form-control-lg light-300" id="inputemail" name="inputemail" placeholder="Email">
                    </div>
                </div>

                <div class="form-row pt-2">
                    <div class="col-md-12 col-10 text-end">
                        <button type="submit" class="btn btn-secondary text-white px-md-4 px-2 py-md-3 py-1 radius-0 light-300">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- End Comment Form -->


</section>
<!-- End Work Sigle -->

<!-- Start Related Post -->
<article class="container-fluid bg-light">
    <div class="container">
        <div class="worksingle-related-header row">
            <h1 class="h2 py-5">Related Post</h1>
            <div class="col-md-12 text-left justify-content-center">
                <div class="row gx-5">
                    <div class="row d-flex flex-wrap">
                        {% for estate in similar_estates %}
                        <div class="col-sm-6 col-lg-4 d-flex align-items-stretch mb-4">
                            <div class="card related-content text-decoration-none overflow-hidden h-100 w-100">
                                <a href="{% url 'detail_view' estate.id %}">
                                    <img class="card-img-top related-img" src="{{ estate.image.url|default_if_none:'#' }}" alt="Estate image">
                                </a>
                                <div class="card-body d-flex flex-column p-4">
                                    <h5 class="card-title h6 m-0 semi-bold-600 text-dark">{{ estate.name }}</h5>
                                    <p class="card-text pt-2 mb-1 light-300 text-dark">
                                        {{ estate.description|default:"No description available."|truncatechars:100 }}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center mt-auto">
                                        <a href="{% url 'detail_view' estate.id %}" class="text-primary light-300">Read more</a>
                                        <div class="light-300">
                                            <i class='bx-fw bx bx-heart me-1'></i>31
                                            <i class='bx-fw bx bx-chat ms-1 me-1'></i>2
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</article>


</html>
{% endblock %}